[user]
	name = SF Chong
	email = soonfook11@hotmail.com
[alias]
    alias = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort    # list all aliases
	st = status
	cm = commit
	cp = cherry-pick
	br = branch
	co = checkout
	df = diff -C --color-words
	pl = pull
	ps = push
